root = true

[*]
charset = utf-8
indent_style = space
insert_final_newline = false

[*.md]
insert_final_newline = true

[*.py]
insert_final_newline = true

[*.{c,cpp,h,hpp,cs,java,py,go,rs,🔥,mojo,rkt,lua,zig}]
indent_size = 4

[*.{js,ts,tsx,jsx}]
indent_size = 2
